* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  display: flex;
  margin-top: 10px;
}
.link {
  text-decoration: none;
  color: inherit;
}
